@import './data';
.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 880px;
    margin-top: 30px;
    h3{
        text-align: center;
        padding: 0;
    }
    p{
        width: 740px;
        font-size: 18px;
        text-align: justify;
    }

    .contact-icons{
        display: flex;
        list-style: none;
        justify-content: space-around;
        margin-bottom: 80px;
        width: 30%;
        li{
            a{
                color: $c2;
                transition: ease-in 0.3s;
            }
            
            font-size: 36px;
        }
        a:hover{
            color: $c3;

        }
    }

}
.on{
    animation: intersection .7s ease-in-out;
}
.off{
    opacity: 0;
}
@keyframes intersection {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 375px){
    .contact{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        h3{
            font-size: 34px;
        }
        p{
            width: 80%;
            font-size: 14px;
            text-align: justify;
        }
    
        .contact-icons{
            display: flex;
            list-style: none;
            justify-content: space-around;
            margin-bottom: 80px;
            width: 90%;
            padding: 0;
            li{
                a{
                    color: $c2;
                }
                
                font-size: 30px;
            }
            li:hover{
                transition: ease-in 0.2s;
                animation-name: icons;
                animation-duration: 0.3s;
            }
            a:hover{
                color: $c3;
    
            }
        }
    }
}
@media only screen and (min-width: 376px) and (max-width: 1024px){
    .contact{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 80%;
        margin-top: 20px;
        h3{
            font-size: 50px;
        }
        p{
            width: 80%;
            font-size: 16px;
        }
    
        .contact-icons{
            display: flex;
            list-style: none;
            justify-content: space-around;
            margin-bottom: 80px;
            width: 90%;
            padding: 0;
            li{
                a{
                    color: $c2;
                }
                
                font-size: 30px;
            }
            li:hover{
                transition: ease-in 0.2s;
                animation-name: icons;
                animation-duration: 0.3s;
            }
            a:hover{
                color: $c3;
    
            }
        }
    }
}
