$c1: #333533;
$c2: #F5CB5C;
$c3: #242423;
$c4: #E8EDDF;
$c5: #CFDBD5;


h1{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 45px;
}

h2,h3{
     font-family: 'Cantarell', sans-serif;
     font-size: 60px;
     color: $c2;
}

p{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 22px;
    color: $c5;
}