$c1: #1e1e1e;
$c2: #ED6C4E;
$c3: #404040;
$c4: #878787;
$c5:#fdf0d5;


h1{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 45px;
}

h2,h3{
     font-family: 'Cantarell', sans-serif;
     font-size: 60px;
     color: $c2;
}

p{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 22px;
    color: $c5;
}