@import './data';
.description{
    display: flex;
    justify-content: space-around;
    width: 1024px;
    margin-top: 70px;
    animation: start 0.9s ease-in-out;
    img{
        width: 270px;
        border-radius: 8px;
        transition: .3s ease-in-out all;
        filter: grayscale(50%);
    }
    img:hover{
        filter: grayscale(0%); 
    }
    .info{
        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        h1{
            font-size: 28px;
            margin: 0;
            color: $c5;
        }
        h2{
            font-size: 30px;
            color: $c2;
            margin: 0;
        }
        ul{
            display: flex;
            list-style: none;
            width: 30%;
            justify-content: space-around;
            padding: 0;
            margin: 0;
            li{
                a{
                    color: $c2;
                    text-decoration: none;
                    font-size: 35px;
                    transition: .3s ease-in all;
                    cursor: pointer;
                }
                a:hover{
                    color: $c4;
                }
            }
        }
    }

}
//Animations

@keyframes start{
    0%{
        opacity: 0;
        margin-bottom: -45px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0px;
    }
}

@keyframes svgs{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes wave {
    0%{
     transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%,100%{
        transform: translateY(0px);
    }
}
@media (max-width: 440px){
    .description{
        width: 90%;
        margin-top: 40px;
        img{
            width: 30%;
            height: 110px;
            object-fit: cover;
        }
        .info{
            display: flex;
            flex-direction: column;
            width: 70%;
            align-items: center;
            justify-content: space-around;
            margin: 0;
            h1{
                font-size: 16px;
            }
            h2{
                font-size: 20px;
                text-align: center;
            }
            ul{
                margin-top: 15px;
                width: 50%;
                li{
                    a{
                        font-size: 22px;
                    }
                }
            }
        }
    
    }
}
@media only screen and (min-width: 441px) and (max-width: 660px) {
    .description{
        width: 80%;
        margin-top: 40px;
        img{
            width: 35%;
            height: 140px;
            object-fit: cover;
        }
        .info{
            display: flex;
            flex-direction: column;
            width: 55%;
            align-items: center;
            justify-content: space-around;
            margin: 0;
            h1{
                font-size: 18px;
            }
            h2{
                font-size: 20px;
                text-align: center;
            }
            ul{
                margin-top: 0px;
                width: 60%;
                li{
                    a{
                        font-size: 28px;
                    }
                }
            }
        }
    
    }
}
@media only screen and (min-width: 661px) and (max-width: 880px) {
    .description{
        width: 80%;
        margin-top: 60px;
        img{
            width: 35%;
            height: 200px;
            object-fit: cover;
        }
        .info{
            display: flex;
            flex-direction: column;
            width: 65%;
            align-items: center;
            justify-content: space-around;
            margin: 0;
            h1{
                font-size: 22px;
            }
            h2{
                font-size: 26px;
                text-align: center;
                width: 85%;
            }
            ul{
                margin-top: 0px;
                width: 50%;
                li{
                    a{
                        font-size: 34px;
                    }
                }
            }
        }
    
    }
}
@media only screen and (min-width: 881px) and (max-width: 1224px){
    .description{
        width: 70%;
        margin-top: 80px;
        img{
            width: 30%;
            border-radius: 8px;
            transition: .3s ease-in-out all;
            filter: grayscale(50%);
        }
        img:hover{
            filter: grayscale(0%); 
        }
        .info{
            display: flex;
            flex-direction: column;
            width: 70%;
            align-items: center;
            justify-content: space-around;
            margin: 0;
            h1{
                font-size: 25px;
                margin: 0;
                color: $c5;
            }
            h2{
                font-size: 27px;
                color: $c2;
                margin: 0;
            }
            ul{
                display: flex;
                list-style: none;
                width: 30%;
                justify-content: space-around;
                padding: 0;
                margin: 0;
                li{
                    a{
                        color: $c2;
                        text-decoration: none;
                        font-size: 35px;
                        transition: .3s ease-in all;
                        cursor: pointer;
                    }
                    a:hover{
                        color: $c4;
                    }
                }
            }
        }
    
    }
}
