@import './data';
.menu{
    display: flex;
    width: 100%;
    background-color: $c4;
    justify-content: center;
    .nav-container{
        display: flex;
        justify-content: space-around;
        width: 80%;
    }
    ul{
        display: flex;
        list-style: none;
        width: 50%;
        li{
            margin-right: 40px;
            color: $c5;
            font-weight: bold;
            cursor: pointer;
        }
        a:nth-child(1){
            li{
                font-size: 1.1rem;
            }
        }
        li:hover{
            color: $c3;
            transition: ease-in 0.15s;
        }
        a:nth-child(1) li:hover{
            animation-name: icons;
            animation-duration: 0.3s;
        }
        a{
            text-decoration: none;
        }
    }
    .languages{
        justify-content: flex-end;
        li{
            margin-right: 15px;
        }
        .englishOn{
            color: $c5;
        }
        .englishOff{
            color: $c3;
        }
    }
}
.menu-hamb{
    display: none;
    .hamb-links{
        display: none;
    }
}
// Animations
@keyframes icons {
    0%{
        transform: rotate(0);
    }
    30%{
        transform: rotate(-15deg);
    }
    60%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 680px){
    .menu{
        display: none;
    }

    .menu-hamb{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        background-color: $c4;
        position: relative;
        .nav-container{
            display: flex;
            justify-content: space-between;
            width: 80%;
            align-items: center;
            padding: 5px;
        }
        a{
            color: $c5;
            font-weight: bold;
            cursor: pointer;
            font-size: 18px;
        }
        a:hover{
            color: $c3;
            transition: ease-in-out 0.2s;
        }
        button{
            background-color: transparent;
            color: $c5;
            border: none;
            font-size: 20px;
            cursor: pointer;
            transition: .3s ease all;
        }
        button:hover{
            color: $c3;
        }
        .on{
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 200px;
            top: 36px;
            right: 0;
            background-color: $c4;
            align-items: center;
            ul{
                width: 100%;
                padding: 0;
                display: flex;
                flex-direction: column;
                margin: 0;
                a{
                    list-style: none;
                    text-align: center;
                    text-decoration: none;
                    margin: 0;
                    color: $c5;
                    font-size: 14.4px;
                    max-width: 100%;
                    li{
                        margin: 0;
                        padding: 5px;
                    }
                }
                a li:hover{
                    transition: ease-in-out 0.3s;
                    background-color: $c3;
                    color: $c2;
                }
            }
            div{
                display: flex;
                justify-content: space-around;
                width: 100%;
                background-color: $c3;
                button{
                    color: $c5;
                    width: 50%;
                }
                button:hover{
                    background-color: $c5;
                    color: $c3;
                    transition: ease-in-out 0.3s;
                }
            }
        }
    }
}
@media only screen and(min-width:681px) and (max-width: 880px){
    .menu{
        display: none;
    }

    .menu-hamb{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        background-color: $c4;
        position: relative;
        .nav-container{
            display: flex;
            justify-content: space-between;
            width: 80%;
            align-items: center;
            padding: 8px;
        }
        a{
            color: $c5;
            font-weight: bold;
            cursor: pointer;
            font-size: 26px;
        }
        a:hover{
            color: $c3;
            transition: ease-in-out 0.2s;
        }
        button{
            background-color: transparent;
            color: $c5;
            border: none;
            font-size: 30px;
            cursor: pointer;
            transition: .3s ease all;
        }
        button:hover{
            color: $c3;
        }
        .on{
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 250px;
            top: 50px;
            right: 0;
            background-color: $c4;
            align-items: center;
            ul{
                width: 100%;
                padding: 0;
                display: flex;
                flex-direction: column;
                margin: 0;
                a{
                    list-style: none;
                    text-align: center;
                    text-decoration: none;
                    margin: 5px;
                    color: $c5;
                    font-size: 16px;
                    max-width: 100%;
                    li{
                        margin: 0;
                        padding: 5px;
                    }
                }
                a li:hover{
                    transition: ease-in-out 0.3s;
                    background-color: $c3;
                    color: $c2;
                }
            }
            div{
                display: flex;
                justify-content: space-around;
                width: 100%;
                background-color: $c3;
                button{
                    color: $c5;
                    width: 50%;
                }
                button:hover{
                    background-color: $c5;
                    color: $c3;
                    transition: ease-in-out 0.3s;
                }
            }
        }
    }
}
@media only screen and(min-width:881px) and (max-width: 1224px){
    .menu{
        .nav-container{
            display: flex;
            justify-content: space-around;
            width: 100%;

        }
    }
}