@import './data';
.projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    h3{
        margin: 0;
        margin-top: 15px;
        width: 100%;
        text-align: center;
    }
}
.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .svg-first{
        margin-top: -150px;
    }
    .container-parent{
        display: flex;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: $c3;
        margin-bottom: 0px;
        padding-bottom: 0px;
        .container{
            width: 1024px;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            .project{
                width: 30%;
            }
        }
    }
    .btnProj{
        color: $c2;
        background-color: $c3;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 10px 0;
        p{
            margin: 0;
            color: $c2;
            font-size: 18px;
        }
        a{
            width: 30px;
            svg{
                color: $c2;
                cursor: pointer;
                transition: .3s ease all;
                font-size: 27px;
            }
            svg:hover{
                color: $c4;
            }

        }
        svg{
            transition: .3s ease all;
            width: 30px;
            cursor: pointer;
        }
        svg:hover{
            color: $c4;
        }
    }
}
@media (max-width: 440px){
    .projects{
        h3{
            margin: 0;
            margin-top: 15px;
            font-size: 34px;
        }
    }
    .projects-container{
        .svg-first{
            margin-top: -30px;
        }
        .container-parent{
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: auto;
            width: 100%;
            padding-bottom: 50px;
            .container{
                width: 90%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                .project{
                    width: 95%;
                }
            }
        }
        .btnProj{
            color: $c2;
            background-color: $c3;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            width: 100%;
            padding: 10px 0;
            p{
                margin: 0;
                color: $c2;
                font-size: 18px;
            }
            a{
                text-decoration: none;
                color: $c2;
                svg{
                    transition: .3s ease all;
                    width: 26px;
                }
            }
            svg{
                transition: .3s ease all;
                width: 26px;
                font-size: 30px;
            }
            svg:hover{
                color: $c4;
            }
        }
    } 
}
@media only screen and (min-width: 441px) and (max-width: 740px){
    .projects{
        h3{
            margin: 0;
            margin-top: 15px;
            font-size: 50px;
        }
    }
    .projects-container{
        .svg-first{
            margin-top: -30px;
        }
        .container-parent{
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: auto;
            width: 100%;
            padding-bottom: 50px;
            .container{
                width: 90%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                .project{
                    width: 95%;
                }
            }
        }
        .btnProj{
            color: $c2;
            background-color: $c3;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            width: 100%;
            padding: 10px 0;
            p{
                margin: 0;
                color: $c2;
            }
            a{
                text-decoration: none;
                color: $c2;
                svg{
                    transition: .3s ease all;
                    width: 30px;
                }
                svg:hover{
                    color: $c4;
                }
            }
            svg{
                transition: .3s ease all;
                width: 30px;
                font-size: 30px;
            }
            svg:hover{
                color: $c4;
            }
        }
    } 
}
@media only screen and (min-width: 740px) and (max-width: 1023px){
    .projects{
        h3{
            margin: 0;
            margin-top: 15px;
            font-size: 50px;
        }
    }
    .projects-container{
        .svg-first{
            margin-top: -30px;
        }
        .container-parent{
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: auto;
            width: 100%;
            padding-bottom: 50px;
            .container{
                width: 90%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .project{
                    width: 70%;
                }
            }
        }
        .btnProj{
            color: $c2;
            background-color: $c3;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            width: 100%;
            padding: 10px 0;
            p{
                margin: 0;
                color: $c2;
            }
            a{
                text-decoration: none;
                color: $c2;
                svg{
                    transition: .3s ease all;
                    width: 30px;
                }
                svg:hover{
                    color: $c4;
                }
            }
            svg{
                transition: .3s ease all;
                width: 30px;
                font-size: 30px;
            }
            svg:hover{
                color: $c4;
            }
        }
    } 
}
@media only screen and (min-width: 1024px) and (max-width: 1280px){
    .projects{
        h3{
            margin: 0;
            margin-top: 15px;
        }
    }
    .projects-container{
        .svg-first{
            margin-top: -30px;
        }

    } 
}