@import './data';
.project{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:10px;
    padding: 0;
    height: 450px;
    position: relative;
    a{
        width: 100%;
        transition: ease-in-out 0.3s;
        filter: blur(0.5px);
        img{
            width: 100%;
            opacity: 1; 
            height: 450px;
            box-shadow: 0 6px 7px rgba(0,0,0,0.5);
            border-radius: 5px;
            filter: grayscale(90%);
        }
    }
    .view-hover{
        display: none;
        padding: 0;
        transition: ease-in-out 0.3s;
    }
}


@keyframes project{
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

@media (max-width: 440px){
    .project{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        margin:10px;
        padding: 0;
        height: 250px;
        position: relative;
        a{
            width: 60%;
            transition: ease-in-out 0.3s;
            filter: blur(0.5px);
            img{
                width: 100%;
                opacity: 1; 
                object-fit: fill;
                height: 250px;
                box-shadow: 0 6px 7px rgba(0,0,0,0.5);
                border-radius: 5px;
                filter: grayscale(0%);
            }
        }
        .view-hover{
            display: flex;
            flex-direction: column;
            width: 40%;
            justify-content: space-between;
            position: relative;
            bottom: 0;
            svg{
                margin-top: 0;
                display: none;
                path{
                    fill: transparent;
                }
            }
            .view-descrip{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: auto;
                background-color: transparent;
                h5{
                    font-size: 16px;
                    color: $c2;
                    margin: 0;
                    text-align: center;
                    margin-bottom: 15px;
                }
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0 0px 10px 8px;
                    li{
                        color: $c5;
                        font-size: 12px;
                        svg{
                            path{
                                fill: $c4;
                            }
                        }
                    }
                }
            }
            .btns{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                a{
                    width: 80%;
                    margin-bottom: 10px;
                    button{
                        width: 100%;
                    }
                }
                a:hover{
                    color: $c1;
                }
                button{
                    width: 80%;
                    padding: 3px;
                    border: none;
                    height: auto;
                    cursor: pointer;
                    background-color: $c4;
                    color: $c5;
                    border-radius: 10px;
                    transition: .3s ease all;
                    a{
                        text-decoration: none;
                        color: $c5;
                    }
                }
                button:hover{
                    color: $c1;
                }
            }
        }
    }
}


@media (min-width: 440px){
    .project:hover{
        a{
            width: 95%;
            filter: blur(0px);
            img{
                opacity: 0.9;
                border-radius: 10px;
                transition: ease-in-out 0.3s;
                filter: grayscale(0%);
            }
        }
        
    }
    .project:hover .view-hover{
        display: flex;
        flex-direction: column;
        width: 95%;
        animation: project ease-in-out 0.4s;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        .view-descrip{
            display: flex;
            flex-direction: column;
            background-color: $c2;
            h5{
                font-size: 22px;
                color: $c5;
                margin: 0;
                text-align: center;
            }
            ul{
                list-style: none;
                li{
                    color: $c3;
                }
            }
        }
        .btns{
            display: flex;
            width: 100%;
            a{
                width: 50%;
                button{
                    width: 100%;
                }
            }
            button{
                width: 50%;
                padding: 3px;
                border: none;
                height: 35px;
                cursor: pointer;
                background-color: $c4;
                color: $c1;
                a{
                    text-decoration: none;
                    color: $c1;
                }
            }
            button:hover{
                background-color: $c1;
                color: $c2;
                a{
                    color: $c5;
                }
            }
        }
    }
}




/*



@media only screen and (max-width: 600px){
    .project{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin:10px;
        margin-bottom: 20px;
        padding: 0;
        width: 70%;
        height: 350px;
        position: relative;
    
        img{
            width: 100%;
            opacity: 1; 
            height: 350px;
            box-shadow: 0 6px 7px rgba(0,0,0,0.5);
            border-radius:5px;
        }
        .view-hover{
            display: none;
            padding: 0;
        }
    
    
    }
    
    .project:hover{
        img{
            opacity: 0.7;
            width: 100%;
            height: 360px;
            border-radius: 5px;
            transition: ease-in-out 0.3s;
        }
    }
    
    .project:hover .view-hover{
        display: flex;
        flex-direction: column;
        width: 100%;
        animation: project ease-in-out 0.3s;
        justify-content: space-between;
        position: absolute;
        bottom: -10px;
        svg{
            width: 100%;
        }
        .view-descrip{
            display: flex;
            flex-direction: column;
            background-color: $c2;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            h5{
                text-align: center;
                font-size: 1.4rem;
                margin-top: -5px;
            }
            div{
                display: flex;
                width: 100%;
                button{
                    width: 50%;
                    border: none;
                    background-color: $c4;
                    padding: 8px;
                    opacity: 1;
                    a{
                        text-decoration: none;
                        color: $c3;
                        font-weight: 700;
                    }
                }
                button:nth-child(1){
                    border-bottom-left-radius: 10px;
                }
                button:nth-child(2){
                    border-bottom-right-radius: 10px;
                }
    
                button:hover{
                    opacity: 1;
                    transition: ease-in-out 0.3s;
                    background-color: $c1;
                }
            }
        }
    
    }   
}


@media only screen and(min-width:600px) and (max-width: 840px){

    .project{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin:20px;
        margin-bottom: 20px;
        padding: 0;
        width: 85%;
        height: 350px;
        position: relative;    
        img{
            width: 100%;
            opacity: 1; 
            height: 350px;
            box-shadow: 0 6px 7px rgba(0,0,0,0.5);
            border-radius: 5px;
        }
        .view-hover{
            display: none;
            padding: 0;
        }
    
    
    }
    
    .project:hover{
        img{
            opacity: 0.7;
            width: 100%;
            height: 360px;
            border-radius: 5px;
            transition: ease-in-out 0.3s;
        }
    }
    
    .project:hover .view-hover{
        display: flex;
        flex-direction: column;
        width: 100%;
        animation: project ease-in-out 0.3s;
        justify-content: space-between;
        position: absolute;
        bottom: -10px;
        svg{
            width: 100%;
        }
        .view-descrip{
            display: flex;
            flex-direction: column;
            background-color: #ED6C4E;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            h5{
                text-align: center;
                font-size: 1.4rem;
                margin-top: -5px;
            }
            div{
                display: flex;
                width: 100%;
                button{
                    width: 50%;
                    border: none;
                    background-color: #293242;
                    padding: 8px;
                    opacity: 1;
                    a{
                        text-decoration: none;
                        color: #98C1D9;
                        font-weight: 700;
                    }
                }
                button:nth-child(1){
                    border-bottom-left-radius: 10px;
                }
                button:nth-child(2){
                    border-bottom-right-radius: 10px;
                }
    
                button:hover{
                    opacity: 1;
                    transition: ease-in-out 0.3s;
                    background-color: #3E5B80;
                }
            }
        }
    
    } 
}
@media only screen and(min-width:840px) and (max-width: 1024px){
    .project{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin:20px;
        margin-bottom: 20px;
        padding: 0;
        width: 80%;
        height: 450px;
        position: relative;    
        img{
            width: 100%;
            opacity: 1; 
            height: 450px;
            box-shadow: 0 6px 7px rgba(0,0,0,0.5);
            border-radius: 5px;
        }
        .view-hover{
            display: none;
            padding: 0;
        }
    
    
    }
    
    .project:hover{
        img{
            opacity: 0.7;
            width: 100%;
            height: 460px;
            border-radius: 5px;
            transition: ease-in-out 0.3s;
        }
    }
    
    .project:hover .view-hover{
        display: flex;
        flex-direction: column;
        width: 100%;
        animation: project ease-in-out 0.3s;
        justify-content: space-between;
        position: absolute;
        bottom: -10px;
        svg{
            width: 100%;
        }
        .view-descrip{
            display: flex;
            flex-direction: column;
            background-color: #ED6C4E;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            h5{
                text-align: center;
                font-size: 1.4rem;
                margin-top: -5px;
            }
            div{
                display: flex;
                width: 100%;
                button{
                    width: 50%;
                    border: none;
                    background-color: #293242;
                    padding: 8px;
                    opacity: 1;
                    a{
                        text-decoration: none;
                        color: #98C1D9;
                        font-weight: 700;
                    }
                }
                button:nth-child(1){
                    border-bottom-left-radius: 10px;
                }
                button:nth-child(2){
                    border-bottom-right-radius: 10px;
                }
    
                button:hover{
                    opacity: 1;
                    transition: ease-in-out 0.3s;
                    background-color: #3E5B80;
                }
            }
        }
    
    }

}

@media only screen and(min-width:1024px) and (max-width: 1400px){
    .project{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin:40px;
        margin-bottom: 20px;
        padding: 0;
        width: 85%;
        height: 450px;
        position: relative;

        img{
            width: 100%;
            opacity: 1; 
            height: 450px;
            box-shadow: 0 6px 7px rgba(0,0,0,0.5);
            border-radius: 16px;
        }
        .view-hover{
            display: none;
            padding: 0;
        }
    
    
    }
    
    .project:hover{
        img{
            opacity: 0.7;
            width: 100%;
            height: 460px;
            border-radius: 10px;
            transition: ease-in-out 0.3s;
        }
    }
    
    .project:hover .view-hover{
        display: flex;
        flex-direction: column;
        width: 100%;
        animation: project ease-in-out 0.3s;
        justify-content: space-between;
        position: absolute;
        bottom: -10px;
        svg{
            width: 100%;
        }
        .view-descrip{
            display: flex;
            flex-direction: column;
            background-color: #ED6C4E;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            h5{
                text-align: center;
                font-size: 1.4rem;
                margin-top: -5px;
            }
            div{
                display: flex;
                width: 100%;
                button{
                    width: 50%;
                    border: none;
                    background-color: #293242;
                    padding: 8px;
                    opacity: 1;
                    a{
                        text-decoration: none;
                        color: #98C1D9;
                        font-weight: 700;
                    }
                }
                button:nth-child(1){
                    border-bottom-left-radius: 10px;
                }
                button:nth-child(2){
                    border-bottom-right-radius: 10px;
                }
    
                button:hover{
                    opacity: 1;
                    transition: ease-in-out 0.3s;
                    background-color: #3E5B80;
                }
            }
        }
    
    } 

}

*/